<!-- breadcrumb -->
<div class="container m-t-50">
	<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
		<a href="index.html" class="stext-109 cl8 hov-cl1 trans-04">
			Home
			<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
		</a>

		<a href="product.html" class="stext-109 cl8 hov-cl1 trans-04">
			Men
			<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
		</a>

		<span class="stext-109 cl4">

		</span>
	</div>
</div>


<!-- Product Detail -->
<section class="sec-product-detail bg0 p-t-65 p-b-60">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-lg-7 p-b-30">
				<div class="p-l-25 p-r-30 p-lr-0-lg">
					<div class="wrap-slick3 flex-sb flex-w">
						<div class="wrap-slick3-dots"></div>
						<div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

						<div class="slick3 gallery-lb">
							{{#each product.images}}
							<div class="item-slick3" data-thumb="/upload/{{this.filename}}">
								<div class="wrap-pic-w pos-relative">
									<img src="/upload/{{this.filename}}" alt="IMG-PRODUCT">

									<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
										href="/upload/{{this.filename}}">
										<i class="fa fa-expand"></i>
									</a>
								</div>
							</div>
							{{/each}}
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-lg-5 p-b-30">
				<div class="p-r-50 p-t-5 p-lr-0-lg">
					<h4 class="mtext-105 cl2 js-name-detail p-b-14 font-weight-bold">
						{{product.brand}}
					</h4>
					<h4 class="mtext-105 cl2 js-name-detail p-b-14 text-secondary font-weight-normal">
						{{product.productName}}
					</h4>

					<span class="mtext-106 cl2">
						<i class="fa-solid fa-indian-rupee-sign mr-1"></i>{{product.price}}
					</span>

					<p class="stext-102 cl3 p-t-23">
						{{product.description}}
					</p>

					<!--  -->
					<div class="p-t-33">
						<div class="flex-w flex-r-m p-b-10">
							<div class="size-203 flex-c-m respon6">
								Size
							</div>

							<div class="size-204 respon6-next">
								<div class="rs1-select2 bor8 bg0">
									<select class="js-select2" name="time">
										<option value="s">Size S</option>
										<option value="m">Size M</option>
										<option value="l">Size L</option>
										<option value="xl">Size XL</option>
										<option value="xxl">Size XXL</option>
									</select>
									<div class="dropDownSelect2"></div>
								</div>
							</div>
						</div>



						<div class="flex-w flex-r-m p-b-10">

							<div class="size-204 flex-w flex-m respon6-next">
								<button onclick="addToCart('{{product._id}}')"
									class="mx-auto  flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail">
									<i class="fa-solid fa-bag-shopping mr-2"></i> Add to cart
								</button>


								<button
									class="mx-auto  flex-c-m stext-101 cl0 size-101 bgred bor1 hov-btn1 p-lr-15 trans-04 js-wishlist-detail mt-3">
									<i class="fa-solid fa-heart mr-2"></i>Wishlist
								</button>


							</div>

						</div>
					</div>

					<!--  -->
					<div class="flex-w flex-m p-l-100 p-t-40 respon7">
						<div class="flex-m bor9 p-r-10 m-r-11">
							<a href="#"
								class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 js-addwish-detail tooltip100"
								data-tooltip="Add to Wishlist">
								<i class="zmdi zmdi-favorite"></i>
							</a>
						</div>

						<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100"
							data-tooltip="Facebook">
							<i class="fa fa-facebook"></i>
						</a>

						<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100"
							data-tooltip="Twitter">
							<i class="fa fa-twitter"></i>
						</a>

						<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100"
							data-tooltip="Google Plus">
							<i class="fa fa-google-plus"></i>
						</a>
					</div>
				</div>
			</div>
		</div>

	</div>

</section>


<!-- Related Products -->